/* Control Holder */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000319}}
.booking-form {
  padding: 0 0 41px 0;
  position: relative;
  width: 100%;
  color: #888888;
  font: 14px/24px "Ubuntu", sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000326}}
  .booking-form input {
    width: 100%;
    height: 48px;
    padding: 0 18px;
    background: #ffffff;
    border: 3px solid #f0f0f0;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: 14px/24px "Ubuntu", sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000337}}
  .booking-form select {
    position: relative;
    width: 100%;
    height: 48px;
    background: #ffffff;
    border: 3px solid #f0f0f0;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: 14px/24px "Ubuntu", sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000348}}
  .booking-form textarea {
    width: 100%;
    min-height: 93px;
    padding: 8px 18px 0;
    resize: none;
    background: #ffffff;
    border: 3px solid #f0f0f0;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: 14px/24px "Ubuntu", sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000360}}
  * + .booking-form {
    margin-top: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000348}}
.booking-form div ul {
    margin-top: 0;
    margin-bottom: 20px;
    color: red;
    font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000364}}
  .booking-form .btn {
    width: 100%;
    text-align: center;
    font-size: 22px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000371}}
    * + .booking-form .btn {
      margin-top: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000375}}
.controlHolder {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000377}}
  .controlHolder + .controlHolder {
    margin-top: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000383}}
.tmSelect:before {
  content: '\f107';
  font-family: "FontAwesome";
  position: absolute;
  top: 13px;
  right: 17px;
  z-index: 99; }

/* Messages */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000394}}
.error-message {
  position: absolute;
  top: 9px;
  right: 4px;
  font-weight: normal;
  text-align: right;
  width: 100%;
  font-size: 10px;
  line-height: 1em;
  z-index: 4;
  color: #FE5353; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003107}}
.success-message {
  position: absolute;
  margin-top: -28px !important;
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
  color: #333333;
  font-size: 14px;
  line-height: 20px; }

/* transformSelect CSS */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003120}}
.tmSelect {
  clear: both;
  width: 100%;
  margin: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003124}}
  .tmSelect li {
    position: relative;
    list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003128}}
  .tmSelect span, .tmSelect input[type=text] {
    position: relative;
    cursor: pointer;
    display: block;
    left: 0;
    top: 0;
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003137}}
  .tmSelect.auto {
    cursor: pointer;
    padding: 0;
    margin: 0 0 20px 0;
    line-height: 20px;
    border: 3px solid #f0f0f0;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: 14px/24px "Ubuntu", sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003139}}
    .tmSelect.auto span {
      background: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003148}}
    .tmSelect.auto ul {
      margin: 1px 0 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      background: #F9F9F9; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003155}}
    .tmSelect.auto > li:first-child > span {
      padding: 7px 12px;
      width: 35px;
      height: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003164}}
  .tmSelect ul, .tmSelect .transformSelectDropdown {
    position: absolute;
    width: 100%;
    max-height: 210px;
    padding: 7px 0px;
    margin: 0px;
    border: 3px solid #f0f0f0;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: 14px/24px "Ubuntu", sans-serif;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
    background: #F9F9F9;
    z-index: 10; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003179}}
    .tmSelect ul span, .tmSelect .transformSelectDropdown span {
      border: 0;
      padding: 5px 13px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003182}}
      .tmSelect ul span:hover, .tmSelect .transformSelectDropdown span:hover {
        background: #CCC; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003188}}
  .tmSelect ul li input[type=checkbox] {
    position: relative;
    top: 2px;
    margin: 0 5px 0 0;
    cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003197}}
button.ui-state-default {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  padding: 4px 6px;
  background: none;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/include\/_mixins\.scss}line{font-family:\00003249}}
  button.ui-state-default::-moz-focus-inner {
    border: none;
    padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/01\.February\/02\.Mercury\.25593\.landing\.nyan\/new\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003211}}
.ui-datepicker-close {
  float: right; }
